.contain{
    width: 50%;
    letter-spacing: 1px;
    word-spacing: 1.5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-variant: small-caps;
    margin: auto 10px;

}
.title h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    letter-spacing: 1px;
    color: rgb(10, 117, 118);
    text-align: center;
    margin: 20px auto;
}
body{
    background-color: rgb(200, 244, 219);
}
div.contain p:last-of-type{
    margin: auto;
    text-align: right;
}
.box{
    background-color: black;
    height: 100px;
    width: 100px;
}

/* css reset */

*{
    margin: 0;
    padding: 0;
}