body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-variant: small-caps;
    background-image: url(../HTML/picture/1.png);
    background-repeat: no-repeat;
    background-position: top center;
}

p.bagan{
    text-indent: 24px;
    font-style: italic;
    text-align: end;
}

.ext{
    text-decoration: aqua;
    text-overflow: ellipsis;
    text-align: center;
}

a{
    color: inherit;
}
